{
    "presets": [
        "@babel/preset-react",
        [
        	"@babel/preset-env",
        	{
        		"modules": false,
        		"forceAllTransforms": true
        	}
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "react-hot-loader/babel"
    ]
}