.ReactModalPortal>div {
	z-index: 4;
	display: flex;
    justify-content: center;
}

.ReactModal__Overlay{
    height: 100%;
    text-align: center;
    white-space: nowrap;
}
.ReactModal__Overlay:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    margin-right: -.25em; /*might want to tweak this. .25em for extra white space */
    height: 100%;
}
.ReactModal__Content{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important; 
    width: 400px;
    min-height: 320px;
    max-height: 95%;
    margin-top: 20px;
}

.ReactModal__Content>* {
    text-align: left;
}

/*.ReactModalPortal>div>div {
     top: auto!important;
    left: auto!important;
    right: auto!important;
    bottom: auto!important; 
     align-self: center;
    width: 400px;
    min-height: 320px;
    margin: 0 auto!important;
    display: inline;
    bottom: auto; 
}*/

.modal-btns-wrapper {
	display: flex;
    justify-content: center;
    margin-top: 15px;
    bottom: 15px;
}

@media (max-width: 992px) {
	.ReactModalPortal>div {
		display: block;
	    justify-content: left;
	    margin: 20px;
	}
}