.select-search-box {
    width: 545px !important;
    margin-left: 10px;
}
.avatar {
	width: 40px;
	height: 40px;
	border-radius: '50%';
    vertical-align: 'middle';
    margin-right: 10;
}

.select-search-box__row > span > span {
    display: block;
}

.select-search-box__row > span > span > span {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2px 4px;
    line-height: 12px;
    font-size: 12px;
    margin-right: 4px;
}

.select-inform {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 580px;
    width: 173px;
    text-align: justify;
}