.Select-input>input {
	max-width: 322px;
}

.Select-clear-zone {
	padding: 7px;
}

.Select-menu-outer, .Select-arrow-zone {
	display: none;
} 

.Select--multi .Select-value-icon {
	border-bottom: 1px solid rgba(0, 126, 255, 0.24);
    margin-bottom: -1px;
}